<header class="main-head bg-gradient-dark">
  <a href="/">
    <img src="{{ url('theme://images/favicon.png') }}" class="site-logo"><span class="site-title"> {{site.title}} </span>
  </a>
</header>

  <nav class="main-nav">
    <ul>
      {% for ppage in pages.children.visible %}

        {% set current_page = (ppage.active or ppage.activeChild)
          ? 'is-active'
          : '' %}

          <li class="{{ current_page }}">
          
            <a class="{% if current_page == 'is-active' %}active{% endif%}" href="{{ ppage.url }}">
              {{ ppage.menu }}
            </a>
            {% if ppage.children|length > 0 %}
              <ul>
                {% for cpage in ppage.children %}
                  <li>
                    <a class="{% if cpage.active %}active{% endif%}" href="{{ cpage.url }}">
                      {{ cpage.menu }}
                    </a>
                  </li>
                {% endfor %}
              </ul>      
            {% endif %}

          </li>


      {% endfor %}
    </ul>
  </nav>
