<meta charset="utf-8"/>
<title>
  {% if header.title %}
    {{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% include 'partials/metadata.html.twig' %}

<link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
<link rel="canonical" href="{{ page.url(true, true) }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block stylesheets %}
        {% do assets.addCss('theme://css/style.css') %}
        {% do assets.addCss('theme://css/custom.css') %}
        {% if page.header.sidebarlayout %}
          {% if page.header.sidebarlayout == 'default' %}
            {% do assets.addCss('theme://css/layouts/default.css') %}
          {% endif %}
          {% if page.header.sidebarlayout == 'sidebar-top' %}
            {% do assets.addCss('theme://css/layouts/sidebar-top.css') %}
          {% endif %}
          {% if page.header.sidebarlayout == 'default-showcase' %}
            {% do assets.addCss('theme://css/layouts/default_showcase.css') %}
          {% endif %}
          {% if page.header.sidebarlayout == 'sidebar-left-showcase' %}
            {% do assets.addCss('theme://css/layouts/sidebar-left-showcase.css') %}
          {% endif %}
          {% if page.header.sidebarlayout == 'sidebar-right-showcase' %}
            {% do assets.addCss('theme://css/layouts/sidebar-right-showcase.css') %}
          {% endif %}
          {% if page.header.sidebarlayout == 'sidebar-left' %}
            {% do assets.addCss('theme://css/layouts/sidebar-left.css') %}
          {% endif %}
          {% if page.header.sidebarlayout == 'sidebar-right' %}
            {% do assets.addCss('theme://css/layouts/sidebar-right.css') %}
          {% endif %}
        {% else %}
          {% do assets.addCss('theme://css/layouts/default.css') %}
        {% endif %}
        

    {% endblock %}
    {{ assets.css() }}



{% block javascripts %}
  {% do
    assets.addJs('theme://dist/js/app.js', {group: 'bottom'}) %}
{% endblock %}
{{ assets.js() }}
